        <!-- Error modal popup -->
        <div class="container d-flex justify-content-center">
            <div id="modal-error" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-0">
                        <div class="modal-body p-0">
                            <div class="card border-0 p-sm-3 p-2 justify-content-center">
                                <div class="card-header pb-0 bg-white border-0 ">
                                    <div class="row">
                                        <div class="col ml-auto"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="float: right;"> <span aria-hidden="true"></span> </button></div>
                                    </div>
                                    <p class="font-weight-bold mb-2" id="modal-error-display">Error</p>
                                    <p class="text-muted" id="modal-error-subdisplay"></p>
                                </div>
                                <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                                    <div class="row justify-content-end no-gutters">
                                        <div class="col-auto"><button type="button" class="btn btn-danger" data-bs-dismiss="modal">OK</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
   
          <!-- Are you sure modal popup -->
          <div class="container d-flex justify-content-center">
            <div id="modal-you-sure" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-0">
                        <div class="modal-body p-0">
                            <div class="card border-0 p-sm-3 p-2 justify-content-center">
                                <div class="card-header pb-0 bg-white border-0 ">
                                    <div class="row">
                                        <div class="col ml-auto"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="float: right;"> <span aria-hidden="true"></span> </button></div>
                                    </div>
                                    <p id="modal-you-sure-question" class="font-weight-bold mb-2">Are you sure you want to AFFECT this symbol?</p>
                                    <p class="text-muted " id="modal-you-sure-display"></p>
                                    <!-- use this to save just the symbol we are affecting -->
                                    <p style="opacity: 0;" id="modal-you-sure-symbol"></p>
                                </div>
                                <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                                    <div class="row justify-content-end no-gutters">
                                        <div class="col-auto"><button type="button" class="btn btn-light text-muted" data-bs-dismiss="modal">Cancel</button></div>
                                        <div class="col-auto"><button id="modal-you-sure-button" type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">ACTION</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
