<div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div> <a href="/" class="nav_logo"> <i class='bx bx-home nav_logo-icon'></i> <span class="nav_logo-name">Stock Predictor</span> </a>
        <div class="nav_list"> 
          <a id="navbar-master" href="/" class="nav_link" data-bs-toggle="tooltip" data-bs-placement="right" title="Train the model for your stock(s)"> <i class='bx bxs-graduation nav_icon'></i> <span class="nav_name">Train</span> </a> 
          <a id="navbar-predict" href="{{ url_for('predict') }}" class="nav_link" data-bs-toggle="tooltip" data-bs-placement="right" title="Predict prices on the stock models trained"> <i class='bx bx-line-chart nav_icon'></i> <span class="nav_name">Predict</span> </a> 
          <a id="navbar-recommend" href="{{ url_for('recommend') }}" class="nav_link" data-bs-toggle="tooltip" data-bs-placement="right" title="See other stock recommendations"> <i class='bx bx-like nav_icon'></i> <span class="nav_name">Recommendations</span> </a> 
          <hr class="nav_logo"/>
          <a href="https://github.com/hmelendez001" target="_blank" class="nav_link"> <i class='bx bxl-github nav_icon' data-bs-toggle="tooltip" data-bs-placement="right" title="See my GitHub page"></i> <span class="nav_name">GitHub</span> </a> 
          <a href="https://linkedin.com/in/hmelende" target="_blank" class="nav_link"> <i class='bx bxl-linkedin nav_icon' data-bs-toggle="tooltip" data-bs-placement="right" title="See my LinkedIn page"></i> <span class="nav_name">LinkedIn</span> </a> 
          <a href="https://twitter.com/@MelendezHelder" target="_blank" class="nav_link"> <i class='bx bxl-twitter nav_icon' data-bs-toggle="tooltip" data-bs-placement="right" title="See my Twitter page"></i> <span class="nav_name">Twitter</span> </a>
          <a href="https://hmelendez001.github.io" target="_blank" class="nav_link"> <i class='bx bx-book nav_icon' data-bs-toggle="tooltip" data-bs-placement="right" title="See my Blog page"></i> <span class="nav_name">Blog</span> </a>
        </div>
      </div> <a href="https://udacity.com" target="_blank" class="nav_link"> <i class="iconify" data-icon="cib:udacity" data-bs-toggle="tooltip" data-bs-placement="right" title="Udacity program page"></i> <span class="nav_name">Udacity</span> </a>
    </nav>
  </div>
